.container {
    display: flex; 
    justify-content: start;
    flex-direction: row-reverse;
    border: 2px solid black;
    margin-bottom: 10px;
}
.item1 {
    width: 100px;
    height: 50px;
    background-color: rgb(92, 197, 232);
    margin: 5px;
}
.item2 {
    width: 100px;
    height: 50px;
    background-color: rgb(4, 57, 74);
    margin: 5px;

}
.item3 {
    width: 100px;
    height: 50px;
    background-color: rgb(243, 8, 4);
    margin: 5px;

}
.item4 {
    width: 100px;
    height: 50px;
    background-color: rgb(247, 148, 0);
    margin: 5px;

}